html{
}

body {
  margin: 10px;
  padding: 20px;
}

/* canvas {
  display: block;
} */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 7fr 1fr;
  /* 3 equal-width columns */
  grid-template-rows: repeat(3, 1fr);
  /* 3 equal-height rows */
  gap: 5px;
  /* spacing between cells */
  width: 900px;
  /* adjust size as needed */
  height: 300px;
}

.grid>div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
/*   border: 1px solid #333; */
  border: 0px;
  font-size: 0.8rem;

  white-space: nowrap;  /* ✅ prevents text wrapping */
  text-overflow: ellipsis;  /* ✅ optional: adds "..." if text overflows */
}

.item1 {
  border: none;
  grid-column-start: 1;
  grid-column-end: 6;
}

.inputValue {
  border: none;
}

a:link, a:visited {
  background-color: #2218b4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #1a1f69ce;
}
