html {
  /*background-image: url('slate.jpeg');
  background-size: cover;*/
  background-color: rgba(255, 255, 255, 0.6);
  /*background-blend-mode: lighten;*/
  font-size: 1rem;
}

body {
  margin: 10px;
  padding: 20px;
  opacity: 0.99;
}

h1 {
  /*   font-size: 2.5rem; */
  /*   padding: 10px; */
  /*   border-color: rgb(0, 0, 0); */
  /*   border-style: solid; */
  /*   width: 700px; */
  /*   background-color: cadetblue; */
  /*   min-width: 700px; */
}

.my_table {
  table-layout: fixed;
  min-width: 720px;
  font-size: 0.75rem;
  border-color: rgb(200, 200, 200);
  background-color: rgb(220, 220, 220);
  border-style: solid;
}

.userInputs {
  /*height, weight and gender*/
  /*display: inline; */
  margin: 5px;
  font: 0.75rem;
  font-size: 0.75rem;
}

.read_in {
  height: 240px;
  padding: 5px;
}

.weightSelectButton {
  width: 30px;
}

.metrics_table {
  font-size: 0.75rem;
  padding: 0px;
  min-width: 100px;
}

.metrics_table > tr {
  padding: 40px;
}

.metrics_row_header {
  /*font-weight: bold;*/
  width: 100px;
  padding: 5px;
  text-wrap: true;
}

.row_header {
  font-weight: bold;
  min-width: 100px;
  padding: 5px;
}

.column_header {
  font-weight: bold;
  background-color: pink;
}

.odd_row {
  background-color: rgb(178, 225, 241);
  padding: 0px;
}

.even_row {
  background-color: rgb(208, 231, 244);
  padding: 0px;
}

td {
  text-align: center;
}

.row1 {
  display: flex;
  justify-content: space-between;
  /* Distribute items equally with space between them */
  width: 100%;
  max-width: 720px;
  min-width: 720px;
}

.row1 > div {
  /* max-width: 250px; */
  flex: 2;
  /*grow*/
  padding: 0px;
}

canvas {
  display: block;
}

.weightSelectButton {
  border-radius: 8px;
}

.genderSelectButton {
  width: 30;
  border-radius: 4px;
}
.genderSelectButtonHighlighted {
  background-color: rgb(248, 140, 140);
}

.tableA {
  display: grid;
  padding: 0px;
  /* margin: 5px; */
  border-color: rgb(220, 220, 220);
  background-color: rbg(178, 255, 241);
  min-width: 200px;
}

.row2 {
  display: grid;
  max-width: 720px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.output_box {
  border: 2px;
  border-style: solid;
  border-color: black;
  background-color: rgb(178, 225, 241);
  width: 700px;
}

/*used for feed column selection */
.selected {
  background-color: rgba(255, 242, 4, 0.84);
}

/*used for male/female button highlighting, assigned in sketch.js*/
.highlight {
  background-color: rgb(248, 140, 140);
  /* border-radius: 8px; */
}

#disclaimer {
  max-width: 700px;
  font-size: 0.5rem;
  text-align: justify;
}

#dailyEnergyBox,
#dailyProteinBox {
  font-size: x-large;
}

a:link,
a:visited {
  background-color: #2218b4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: #1a1f69ce;
}
